#footer {
    background-color: #aaca74;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: white;
}

#footer .fab {
    color: white;
    text-decoration: none; /* Añadido para eliminar cualquier subrayado */
}

.footer-section {
    margin-bottom: 20px;
    display: block;
    align-items: center;
}

#footer a {
    text-decoration: none; /* Asegura que los enlaces no tengan subrayado */
}

@media only screen and (min-width: 768px) {
    #footer {
        flex-direction: row;
        justify-content: center;
    }

    .footer-section {
        flex: 1;
        margin-right: 20px;
        border-radius: 8px;
    }

    .footer-section:last-child {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1024px) { /* Ajusta este valor según tus necesidades */
    #footer .fab {
        font-size: 2rem; /* Aumenta el tamaño del ícono, ajusta según sea necesario */
        margin-left: 20px;
    }
}