/* Estilos para #cuerpo-inicio */
#cuerpo-inicio {
    display: flex; /* Utiliza Flexbox para el alineamiento */
    flex-direction: column; /* Los elementos se apilan verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    /* min-height: 50vh; Asegura que el contenedor tenga al menos la altura de la ventana */
    text-align: center; /* Alinea el texto al centro */
    padding: 20px; /* Espacio alrededor del contenido */
}

/* Estilos para los elementos dentro de #cuerpo-inicio */
#cuerpo-inicio h1, 
#cuerpo-inicio h2, 
#cuerpo-inicio p, 
#cuerpo-inicio img {
    margin: 10px 0; /* Añade un espacio vertical entre elementos */
    /* Agrega aquí más estilos específicos para cada tipo de elemento si es necesario */
    flex-direction: row;
}

/* Si necesitas estilos específicos para imágenes */
#cuerpo-inicio img {
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto; /* Mantiene la proporción de las imágenes */
}

/* Agrega aquí estilos adicionales específicos para otros elementos si es necesario */

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Ajustes para móviles o pantallas pequeñas */
    #cuerpo-inicio {
        padding: 10px;
        /* Otros ajustes responsivos si son necesarios */
    }
}
