/* Estilo básico para la navegación */
#navbar {
    width: 100%;
    background: #aaca74; /* Color de fondo del menú */
    border-radius: 8px;
}

/* #aaca74 y #f018a3 */
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display flex para alinear horizontalmente */
    justify-content: left;
}

#navbar ul li {
    position: relative; /* Posición relativa para los submenús */
}

#navbar a {
    display: block;
    padding: 10px 15px;
    color: white; /* Color del texto */
    text-decoration: none; /* Remover subrayado de los enlaces */
}

/* Submenús ocultos por defecto */
#navbar ul ul {
    display: none;
    position: absolute; /* Posición absoluta para los submenús */
    background: #555; /* Color de fondo de los submenús */
    border-radius: 8px;
    z-index: 1000;
}

#navbar ul li > ul {
    position: absolute;
    left: 100%; /* Posiciona el submenú hacia la derecha */
    min-width: 200px; /* Ajusta el ancho mínimo del submenú */
    margin-left: -100%; /* Ajusta esto para controlar cuánto se desplaza el submenú */
    /* Otros estilos que desees aplicar */
}

#navbar ul ul li > ul {
    top: 0;
    left: 100%; /* Asegura que se desplieguen hacia la derecha del submenú padre */
    margin-left: 0; /* Ajusta esto según sea necesario */
}

/* Mostrar submenús al pasar el cursor */
#navbar ul li:hover > ul {
    display: block;
}

#navbar ul ul li:hover > ul {
    display: block;
}

/* Estilo para los enlaces de submenús */
#navbar ul ul li {
    width: 200px; /* Ancho fijo para los submenús */
}

#navbar ul ul a {
    padding: 8px;
    border-top: 1px solid #aaca74; /* Borde superior para separar elementos */
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* Cambiar el estilo al pasar el cursor sobre los enlaces */
#navbar a:hover {
    background: #f018a3; /* Color de fondo al pasar el cursor */
    border-radius: 8px;
}

#toggle-navbar {
    position: absolute;   /* Posición absoluta respecto a su contenedor relativo */
    right: 10px;          /* A la derecha, con un pequeño margen */
    top: 8px;             /* Un margen desde la parte superior */
    border: none;         /* Sin borde */
    background-color: #aaca74;
    background-image: url('/images/LogotipoIco.webp');
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el botón */
    width: 37px;          /* Ancho del botón */
    height: 37px;         /* Altura del botón */
    cursor: pointer;      /* Cambiar el cursor para indicar que es un botón */
    border-radius: 6px;
    z-index: 1000;        /* Para que quede siempre encima */
}

/* Estilo para cuando se pasa el mouse por encima */
#toggle-navbar:hover {
    background-color: #f018a3;
    border-radius: 8px;
}

#foto-login {
    position: absolute;
    right: 15px;
    top: 50px;
    display: flex; /* Alineación horizontal de los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

#foto-login img {
    width: 40px; /* Ancho fijo */
    height: 40px; /* Altura fija */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
    border-radius: 50%; /* Opcional: para hacer la imagen circular */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
    margin-bottom: 15px;
}

#login-info p,
#login-info a {
    margin-top: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Ajusta el padding para controlar el espacio */
}

.social-icons {
    display: flex;
    margin-left: 50px;
    gap: 10px; /* Espacio entre cada icono */

    /* Otros estilos que desees aplicar */
}

.social-icons a {
    display: inline-block;
}

@media (min-width: 768px) {
    
    /* Estilos para la navegación y los enlaces, como en el ejemplo anterior */
    #navbar ul {
        display: flex;
        /* otros estilos */
    }

    #navbar ul ul {
        display: none;
        position: absolute;
        /* otros estilos */
    }

    #navbar ul li:hover > ul {
        display: block;
    }

    /* otros estilos */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {

    #navbar ul {
        display: block;
    }

    #navbar ul li {
        width: 60%;
    }

    #navbar ul ul {
        position: static;
    }

    #navbar ul ul li {
        width: 100px; /* Ancho fijo para los submenús */
    }

    #navbar ul li > ul {
        min-width: 100px; /* Ajusta el ancho mínimo del submenú */
    }

    /* Botón de menú hamburguesa (oculto en pantallas grandes) */
    .menu-toggle {
        display: none;
    }

    /* Estilos cuando el menú hamburguesa está activo */
    .menu-toggle.active + ul {
        display: block;
    }

    /* Ocultar los iconos en dispositivos móviles */
    .social-icons {
        display: none;
    }
}
