/* Estilo básico para la navegación */
#navbar {
    width: 100%;
    background-image: url('/images/cielo-estrellado.webp');
    border-radius: 8px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display flex para alinear horizontalmente */
    justify-content: left;
}

#navbar ul li {
    position: relative; /* Posición relativa para los submenús */
}

#navbar a {
    display: block;
    padding: 10px 15px;
    color: #aaca74;
    text-decoration: none;
    /*
    text-shadow:/*Para el efecto de las letras 
        -.2px -.2px 0 #aaca74,  
         .2px -.2px 0 #aaca74,
        -.2px .2px 0 #aaca74,
         .2px .2px 0 #aaca74;
    */
} 


/* Submenús ocultos por defecto */
#navbar ul ul {
    display: none;
    position: absolute; /* Posición absoluta para los submenús */
    background: #555; /* Color de fondo de los submenús */
    border-radius: 8px;
    z-index: 1000;
}

#navbar ul li > ul {
    position: absolute;
    left: 100%; /* Posiciona el submenú hacia la derecha */
    min-width: 200px; /* Ajusta el ancho mínimo del submenú */
    margin-left: -100%; /* Ajusta esto para controlar cuánto se desplaza el submenú */
}

#navbar ul ul li > ul {
    top: 0;
    left: 100%; /* Asegura que se desplieguen hacia la derecha del submenú padre */
    margin-left: 0;
}

/* Mostrar submenús al pasar el cursor */
#navbar ul li:hover > ul {
    display: block;
}

#navbar ul ul li:hover > ul {
    display: block;
}

/* Estilo para los enlaces de submenús */
#navbar ul ul li {
    width: 200px; /* Ancho fijo para los submenús */
}

#navbar ul ul a {
    padding: 8px;
    border-top: 1px solid #aaca74; /* Borde superior para separar elementos */
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* Cambiar el estilo al pasar el cursor sobre los enlaces */
#navbar a:hover {
    background: #f018a3; /* Color de fondo al pasar el cursor */
    border-radius: 8px;
}

#orden-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

#search-form {
    display: flex;
    border: 1px solid #f018a3;
    border-radius: 10px;
    overflow: hidden;
}

#search-query {
    border: none;
    padding: 10px;
    flex-grow: 1;
}

#search-button {
    background-color: #aaca74;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#toggle-navbar {
    position: absolute;
    right: 8px;
    top: 112px;
    border: none;
    background-color: #aaca74;
    background-image: url('/images/LogotipoIco.webp');
    background-size: cover;
    width: 37px;
    height: 37px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1000;
}

#toggle-navbar:hover {
    background-color: #f018a3;
    border-radius: 8px;
}

.logo-escala {
    width: 100px;
    height: auto;
    margin-left: 5rem;
}

#foto-login {
    position: absolute;
    right: 13px;
    top: 30px;
    display: flex;
    align-items: center;
}

#foto-login img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 15px;
}

#login-info p, #login-info a {
    margin-top: 0;
    padding: 0;
}

.social-icons {
    display: flex;
    margin-left: 50px;
}

.social-icons a {
    display: inline-block;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
    #orden-cabecera {
        flex-direction: column;
        padding: 1rem;
    }

    #navbar ul {
        display: block;
    }

    #navbar ul li {
        width: 60%;
    }

    #navbar ul ul {
        position: static;
    }

    #navbar ul ul li {
        width: 100px;
    }

    #navbar ul li > ul {
        min-width: 100px;
    }

    .social-icons {
        display: none;
    }

    .logo-escala {
        margin-left: auto;
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
    .social-icons {
        display: none;
    }
}

/* Ajustes para dispositivos de alta densidad de píxeles en orientación horizontal */
@media only screen and (min-device-width: 678px) and (max-device-width: 834px) and (orientation: landscape) {
    #orden-cabecera {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
    }

    .social-icons {
        display: none;
    }
}
